// bower:scss
// endbower

body {
    margin: 0px;
}

a {
    color: #000000;
    text-decoration: none;
}

.header {
    display: inline-block;
    height: 80px;
    position: fixed;
    width: 100%;
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
    z-index: 4;
    color: white;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;

}

.toolbarButtons {
    display: inline-block;
    line-height: 80px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

    a {
        color: white;
        text-decoration: none;
    }
}

.toolbarButtonsFirst {
    margin-left: 30px;
}

.headerimg {
    display: block;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-image: url('/images/headerimg.jpg');
    padding-top: 100px;
}

.myNamebackground {
    display: block;
    float: right;
    margin-right: 50px;
    background-color: white;
    opacity: 0.4;
}

.myName {
    display: block;
    text-align: center;
    font-size: 60px;
    font-family: Helvetica;
    margin-left: 10px;
    margin-right: 10px;
}

.headerEmail {
    display: block;
    float: left;
    margin-left: 30px;
}

.headerPhone {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-bottom: 10px;
}

// .myName {
//     float: right;
//     margin-right: 50px;
//     background-color: #ffffff;
//     opacity: 0.6;
//     filter: alpha(opacity=60); 
//     font-size: 60px;
// }

// .myName p {
//     margin: 30px 40px;
//     font-weight: bold;
//     color: #ffffff;
// }

.secondContainer {
    border-top: 5px solid gray;
    padding: 10px;
    background-color: #C6CCC7;
    width: 100%;
}

.portfolio {
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
}

.works {
    padding: 10px;
    margin: 0px auto;
    display: block;
    background-color: #969799;
    width: calc(90% - 40px);
    height: 250px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.sampleIMG {
    display: inline-block;
    background-color: green;
    height: 240px;
    min-height: 250px;
    width: 30%;
    min-width: 220px;
}

.sampleInfo {
    display: inline-block;
    background-color: #BBBDBF;
    vertical-align: top;
    padding: 5px;
    width: 60%;
    height: 240px;
}

.projectName {
    font-size: 40px;
}

.projectDescrip {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tools {
    font-size: 12px;
    color: black;
}

.toolsUsed {
    font-size: 24px;
    color: black;
    margin-bottom: 70px;
}

.links {
    font-size: 20px;
    float: right;
}

.thirdContainer {
    border-top: 5px solid gray;
    background-color: #023B0E;
    padding: 20px;
    color: white;

}

.aboutMe {
    padding-top: 15px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
}

.me {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.aboutMeContainer {
    margin: 0px auto;
    width: 80%;
}

.fourthContainer {
    padding: 20px;
    border-top: 5px solid gray;
    background-repeat: repeat;
    background-image: url('/images/grass.jpg');
}

.contactMe {
    display: block;
    padding-top: 15px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.email {
    display: block;
    text-align: center;
    font-size: 20px;
}

.phone {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.socialIcons {
    display: block;
    margin: 0px auto;
    padding: 10px;
    margin: 0px auto;
    background-color: white;

    width: 255px;
}

.fourthCenter {
    margin: 0px auto;
    background-color: white;
    width: 300px;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}

.iconsCollection {
} 

.socialBackground {
    margin: 5px;
    display: inline-block;
    height: 50px;
    width: 50px;
    background: linear-gradient(to bottom, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);

    &:hover {
        opacity: 0.4;
    }
}

/////////Portfolio Work
.imageGallery {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/imagegallery.png');
}

.surfPaddle {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/surfpaddle.png');
}

.constructorsGame {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/constructorsgame.png');
}

.githubRedo {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/githubredo.png');
}

.jquery {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/jquery.png');
}

.chatapp {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/chatapp.png');
}

.javascriptExample {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/javascriptexample.png');
}

.cssExamples {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/cssexamples.png');
}
